
        *{
            margin: 0;
            padding: 0;
            overflow-x: hidden;
        }
body{
    width: 100%;
    position: relative;
    transition: all 1s ease;
}
html {
    scroll-behavior: smooth;
  }
        nav{
            display: block;
            position: fixed;
            top: 20px;
            margin: 0 auto;
            left: 0;
            right: 0;
            height: 64px;
            border-radius: 60px;
            width: 774px;
            background-color: #B6E424;
            color: #ffffff;

          z-index: 100;
        }
        ul{
            width: 60%;
            width: 100%;
            height: 100%;

            justify-content: space-between;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        li{ 
            text-align: center;
            color: #ffffff;
            text-decoration: none;
            list-style: none;
            padding: 0 2.6%;

            height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
        }
        .rect{
            position: absolute;
            height: 50px;
            width: 0;
            background-color: #ffffff;
            content: "";
            transition: 0.2s;
            border-radius: 60px;
            margin: 0 8px;
        }
        li.change{
color: #000000;
z-index: 100;
        }
        
/* html{
    font-size: calc(.75rem + 1.5vw);
} */

container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.mySlides{
    height: 600px;
    width: auto;
}

section{
    padding: 100px 70px ;
    
}
        .aboutbox{
            position: relative;
           height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow: visible;
            
        }
        .aboutbox .info{
            position: relative;
        }
        .person_image{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 50px;
            position: relative;
        }

        
        .about_info{
            
            position: relative;
            text-align: center;
        
            line-height: 1.8;
            font-size: 30px;
            width: 998px;
            transition: 0.8s ease;
            transform: translateY(-30px);

        }
        .about_info.aboutboxinfo_move{
            transform: translateY(-150px);

        }

        .award{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
            overflow: visible;
            
        }
        .award .title{
         position: absolute;
         top: -150px;
            font-size: 62px;
            margin-bottom: 40px;
            height: 90px;
        }
        .box_list{
            
            display: flex;
            flex-direction: column;

        }
        .box{
            background: linear-gradient(112.11deg, #ffffff 0%, #E6EAFF 100%);
            overflow: hidden;
            border-radius: 50px;
            position: relative;
            display: flex;
            align-items: center;
            background-color: aqua;
            width: 1048px;
            border: solid 4px #B6E424;
            height: 218px;
            margin-bottom: 20px;
        }

        .fixed_box{
            position: absolute;
            right: 0;
           
        }
        .title_move{
            overflow: hidden;
            border: solid 8px #B6E424;
        }
        .title_list{
            height: 100%;
            overflow: hidden;
            display: flex;
            gap: 16px;
            flex-direction: column;
            justify-content: center;
        }
        .title_list h1{
            color: #8C8C8C;
            font-size: 16px;
        }
        .title_list h2{
            font-size: 30px;
        }
        .title_list h3{
            font-size: 18px;
        }

        .fixed_box p{
            padding: 20px;
            width: 460px;
        }
    
        .title{
            font-size: 62px;

        }
        h1{
            font-size:84px;
           
           overflow: visible;
     
        }
        .picture{
            border-radius: 256px;
            width: 400px;
            height: 500px;
            overflow: hidden;
        }
        .aboutbox h2{
           margin-top: 4px;
            margin-bottom: 50px;
            font-weight: 500;
            color: #000000;
            font-size: 22px;
            width: 250px;
        }
        #country{
            color: #8c8c8c;
        }
        .rolling_box{
            
             margin-top: 60px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .rolling{
     
            position: relative;
            height: 44px;
            width: 300px;
            overflow: hidden;
            text-align: center;
            
            font-size: 24px;
            
        }

        .rolling span{
           
            position: absolute;
            font-size: 28px;
            text-align: center;
            background-color: #ffffff;
            display: block;
            width: 300px;
            left: -1px;
           
        
        }
        .roll_one{
            top: -36px;
            left: -10px;
            transition: top 0.5s ease;
            
        }
        .roll_two{
            top: 0;
            transition: top 0.5s ease;
        }

        .roll_three{
            top: 36px;
        }




.works{
    
    overflow: visible;
    display: flex;
    flex-direction: row;
    position: relative;
    
    align-items: center;
}
.works .title{
    position: relative;
}
.works h1{
    font-size: 36px;
}
.works button{
    font-size: 12px;
    height: 46px;
    padding: 0 16px;
    border-radius: 24px;
    margin-right: 12px;
    margin-top: 26px;
    margin-bottom: 26px;
}
.works p{
    font-size: 14px;
    width: 386px;
    line-height: 1.8;
}
.works .one{
    background-color: #FF7D4D;
    color: #ffffff;
    border: none;
}
.works .two{
    background-color: #000000;
    color: #ffffff;
}
.works .three{
    background-color: #ffffff;
    border: #000000 1px solid;
    
}
.pic{
    
    position: relative;
    width: 320px;
    height: 460px;
    background-color: #000000;
    border-radius: 40px;
    margin: 0 30px 0 52px;
    z-index: 10;
    overflow: hidden;
}
.pic img{
    width: 320px;
    height: auto;
}
.works h2{
    font-size: 62px;
    margin-bottom: 20px;
}
.works h1{
    font-size: 20px;
}
.info{
    display: block;
    height: 300px;
    padding: 20px 30PX;
}
.info_wrapper{
    
    height: 300px;
    overflow: hidden;
    
    transform: translateX(-350px);
    transition: all 0.5s ease;
    /* display: flex;
    flex-direction: column; */
}
.info_wrapper.infowrapper_move{
    transform: translateX(0px);
}
.title_move{
           
    border-radius: 50px;
    width: 502px;
    height: 218px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(550px);
    transition: 0.8s;
    background: linear-gradient(112.11deg, #ffffff 0%, #E6EAFF 100%);
}
.title_list{
    padding: 20px;
    
}

.title_move.right_left{
    transform: translateX(-80px);
}



.skill_wrapper{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
 
    
}
.skills {
    position: relative;
    font-size: 20px;
    width: 1048px;
  
}
.skills .title{
    margin-bottom: 40px;
   
    position: relative;
    
}

.move_box{
    width: 316px;
    height: 54px;
    border-radius: 32px;
    background-color: #FFF8F2;
    margin-bottom: 14px;
}
.little_move{
   
    height: 100%;
    border-radius: 32px;
    background: linear-gradient(112.11deg, #FFF8F2 0%, #FFEDE2 100%);
    transform: translateX(0px);
    transition: all 0.3s ease-in;
}
#blank{
    height: 100px;
}
